:root {
    --background: #1e1e2e;
    --foreground: #cdd6f4;
    --card: #45475a;
    --card-foreground: #cdd6f4;
    --popover: #45475a;
    --popover-foreground: #cdd6f4;
    --primary: #89dceb;
    --primary-foreground: #1e1e2e;
    --secondary: #313244;
    --secondary-foreground: #cdd6f4;
    --muted: #313244;
    --muted-foreground: #cdd6f4;
    --accent: #89dceb;
    --accent-foreground: #313244;
    --destructive: #f38ba8;
    --destructive-foreground: #cdd6f4;
    --border: #313244;
    --input: #cdd6f4;
    --ring: #89dceb;
    --sidebar: #313244;
    --sidebar-foreground: #cdd6f4;
    --sidebar-accent: #89dceb;
    --sidebar-accent-foreground: #cdd6f4;
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}